<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test scenario 1">
    <listeners>
        <listener class-name="BaseConfig.Listeners"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="Login test">
        <classes>
            <class name="TestCases.LoginTest"/>
            <class name="TestCases.InvalidLoginTest"/>
            <class name="TestCases.ProductList"/>
        </classes>
    </test>
</suite>


